/* Common CSS */
body {
  background-color: aqua;
}

#header {
  background-color: rgb(88, 88, 88);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;

}

a {
  color:aliceblue;
}

a:hover {
  background-color:aqua;
}


/* Working main CSS */
#main {
  color: aliceblue;
  background-color: rgba(17, 17, 247, 0.842);
  min-height: 100vh;
  padding: 100px 80px 50px; /* top, right/left, bottom */
  display: block;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  color: aliceblue;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
}

/* Use of !important was used to show how its used
can go back and edit it. */

h3 {
  font-size: 26px;
  text-decoration: underline;
  color: aliceblue;
}

nav {
  color: aliceblue;
  float: right;
  margin-top: 4%;
  font-size: 25px;
  
}

p {
  margin: 1em;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

/* Homepage CSS */

.home-heading {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
}

.second-heading {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}


.quote {
  color: #FFD700;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  font-family: cursive;
}
  
.homepic {
  width: 20rem;
  height: 20rem;
  float: right;
}

/* About CSS */

#flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 5px solid aqua;
  padding: 2%;
}

.exmax {
  float:left;
  height: 15%;
  width: 15%;
}

.excharlie {
  float: right;
  height: 15%;
  width: 15%;
}


.soccer-ball {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  float:right;
}

.game-image {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Portfolio CSS */

.projects {
  text-align: center;
  font-size: 40px;
}

.brenna {
  color:black;
  background-color: aliceblue;
  border: 5px solid black;
  padding: 1rem;
  margin: 1rem;
}

.ts {
  color:black;
  background-color: aliceblue;
  border: 5px solid black;
  padding: 1rem;
  margin: 1rem;
}

.tspic {
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Contact Page CSS */

#form {
  color:aliceblue;
  display:block;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 50px;
}

#contact-heading {
  text-align: center;
  color: aliceblue;
  font-size: 5rem;
}


.text-box {
  border: 2px solid black;
  height: 2rem;
  width: 100%;
  display: block;
}

#message-box{
  border: 2px solid black;
  height: 10rem;
  width: 100%;
  display:block;
}

#submit-btn {
  font-size: 25px;
}

#submit-btn:hover {
  background-color: aqua;
}

